body {
    background: rgb(185,201,196);
background: linear-gradient(180deg, rgba(185,201,196,0.9668242296918768) 0%, rgba(11,13,13,1) 1%, rgba(21,20,54,1) 100%);
}

  #confondo{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
  }

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;

}

.tarjeta{
    width: 330px;
    height: 300px;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante{
    width: 100%;
}

.card-1{
    background-image: url("../img/cama-suite.jpg");
}
.card-2{
    background-image: url("../img/masaje-hotel.jpg");
}
.card-3{
    background-image: url("../img/cuartohotel.jpg");
}

.atras{
    transform: rotateY(180deg);
    webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;  
}

.titulo{
    width: 100%;    
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Great Vibes', cursive; 
}

.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);      
}

.logo{
    width: 50px;
    height: 50px;
}
