body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,121,157,1) 50%, rgba(0,0,0,1) 100%);
    color: #fff;
    /*
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,168,221,1) 100%);
color: white;*/
/*background: rgb(185,201,196);
background: linear-gradient(180deg, rgba(185,201,196,0.9668242296918768) 0%, rgba(11,13,13,1) 1%, rgba(21,20,54,1) 100%);*/
}
h3{
    font-size: 40px;
    text-align: center;
}
h1{
    font-size: 70px;
}
.navbar-nav{
    font-size: 20px;
}

.confondo {
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, .1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;

}

.tarjeta{
    width: 330px;
    height: 300px;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante{
    width: 100%;
}

.card-1{
    background-image: url("../img/deluxe-camaking1.jpg");
}
.card-2{
    background-image: url("../img/deluxe-camadoble2.jpg");
}
.card-3{
    background-image: url("../img/cama-suite - copia.jpg");
}
.card-4{
    background-image: url("../img/spa-hotel - copia.jpg");
}
.card-5{
    background-image: url("../img/terraza-hotel.jpg");
}
.card-6{    
    background-image: url("../img/gym.jpg");
}


.atras{
    transform: rotateY(180deg);
    webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;  
}

.titulo{
    width: 100%;    
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Great Vibes', cursive; 
}

.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);      
}

.logo{
    width: 50px;
    height: 50px;
}

.parrafos-footer {
    color: #999;
    line-height: 25px;
}

.titulo2-footer .titulo3-footer {
    color: #fff;
}

.titulo2-footer {
    font-size: 30px;
}

.footer-top {
    background: #111;
    padding: 80px 0;
}

.segment-one .titulo3-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two .titulo2-footer {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.segment-one ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-three a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a, i {
    font-size: 20px;
    color: #fff;
    padding: 5px 8px;
}

.footer-bottom-text {
    line-height: 75px;
}

.segment-four form input[type=button] {
    background: rgb(11, 143, 219);
    border: none;
    padding: 3px 15px;
    margin-left: 50px;
    color: #fff;
    text-transform: uppercase;
}