@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/

* {
    padding: 30;
    margin: 0;
}

/*Agregamos margenes inferiores a los parrafos*/

p {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
   
    
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}
body{
    background-image: url("../img/wp4814454.jpg");
    background-size: cover;/*reescala la imagen*/
   background-position: center;/*centra la imagen*/
   background-repeat: no-repeat;/*evita que se repita*/
   color: #CCC;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: #fff;
    font-family: 'Great Vibes', cursive;    
}

h2 {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*#logo{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
  vertical-align:auto;
  /*margin: 0 0 0 2px;*/

*/ nav {
    float: right;
    /* Desplazamos el nav hacia la derecha */
}

nav ul {
    list-style: none;
    overflow: hidden;
    /* Limpiamos errores de float */
}

nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 30px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #0a8edb;
}


.contenido {
    padding-top: 80px;
}

.flexboxLogoContacto {
    background-image: url("../img/camas-hotel.jpg");
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

/* .flexbox div {
    width: 30%;
    height: 200px;
    background-color: rgb(194, 206, 22);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: solid 1px rgb(0, 0, 0);

} */

.formulario{
    background-color: black;
  opacity: 0.8;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;

}

.tarjeta{
    width: 330px;
    height: 300px;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante{
    width: 100%;
}

.card-1{
    background-image: url("../img/cama-suite.jpg");
}
.card-2{
    background-image: url("../img/masaje-hotel.jpg");
}
.card-3{
    background-image: url("../img/cuartohotel.jpg");
}

.atras{
    transform: rotateY(180deg);
    webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;  
}

.titulo{
    width: 100%;    
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Great Vibes', cursive; 
}

.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);      
}

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}

.flexboxredessociales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    color: white;
}

.flexboxredessociales div{    
    margin-bottom: -30px;
}

.pie {    
    line-height: 80px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    width: 100%;
}

.logo{
    width: 50px;
    height: 50px;
}

