body {
    
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,121,157,1) 50%, rgba(0,0,0,1) 100%);
    color: white;
    font-weight: bolder;
}
#portada{
    color: rgb(235, 235, 243);
    font-size: larger;
}
/* #confondo{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
  } */

  #letrero{
      font-size: 55px;
  }
.confondo {
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, .1);
    background: linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 60%, rgba(255, 255, 255, .05) 80%, rgba(0, 0, 0, .1) 80%);
}

#carouselExampleSlidesOnly{
    background-color: none;
}


.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;

}

.tarjeta {
    width: 330px;
    height: 300px;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante {
    width: 100%;
}

.card-1 {
    background-image: url("../img/cama-suite.jpg");
}

.card-2 {
    background-image: url("../img/masaje-hotel.jpg");
}

.card-3 {
    background-image: url("../img/cuartohotel.jpg");
}

.atras {
    transform: rotateY(180deg);
    /*webkit-backface-visibility: hidden;*/
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;
}

.titulo {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Great Vibes', cursive;
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
}

.logo {
    width: 50px;
    height: 50px;
}